<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<style type="text/css">
			table{
				border:1px solid #e9e9e9;
				border-collapse: collapse;
				border-spacing: 0;
			}
			tr,td{
				padding: 8px 16px;
				border: 1px solid #e9e9e9;
				text-align: left;
				clear：both
			}
			th{
				background-color: #f7f7f7;
				color: #5c6b77;
				font-weight: 600;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<div  v-if="books.length">
			<table>
				<thead>
					<tr>
						<th>id</th>
						<th >书籍名称</th>
						<th>出版日期</th>
						<th >价格</th>
						<th>购买数量</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="item in books" >
						<td v-for="value,key,index in item">
							<div v-if="index===3">
								{{value|finalPriceFilter}}
							</div>
							<div v-else-if="index===4">
								<button @click="subClick(item.bookid)">-</button>
								{{value}}
								<button @click="addClick(item.bookid)">+</button>
								</div>
							<div v-else>{{value}}</div>
							</td>
						<td><button @click="remveBook(item.bookid)">移除</button></td>
					</tr>				
				</tbody>
			</table>
			<div>总金额：{{money|finalPriceFilter}}</div>
			</div>
			<div v-else>购物车为空</div>
		
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script type="text/javascript">		
		contents=[
					{
						"bookid":1,
						"name":"<<算法导论>>",
						"outday":"2006-09",
						"price":85.00,
						"buyNum":0,				
					},
					{
						"bookid":2,
						"name":"<<UNIX编程艺术>>",
						"outday":"2006-02",
						"price":59.00,
						"buyNum":0,	
					},
					{
						"bookid":3,
						"name":"<<编程主机>>",
						"outday":"2008-10",
						"price":29.00,
						"buyNum":0,	
					},
					{
						"bookid":4,
						"name":"<<代码大全>>",
						"outday":"2006-3",
						"price":128.00,
						"buyNum":0,	
					},
				];
			const app = new Vue({
				el: "#app",
				data:{
					message: '你好啊',
					books: contents
				},
				computed:{
					money(){
						let allMoney=0;
					for (let book of this.books) {
						allMoney+=book.price*book.buyNum
					}
						return  allMoney
					}
				},
				methods:{
					remveBook(key){
						
						console.log("remveBook:"+key);
						// this.books.splice(1,1);
						for (let i = 0; i < this.books.length;i++) {
							if(this.books[i].bookid==key){
								console.log(i);
								this.books.splice(i,1);
								break;
							}
						}
					},
					addClick(bookid){
						 
						for (let book of this.books) {
							if(book.bookid===bookid){
								
								book.buyNum++;
								break;
							}
						}
					},
					subClick(bookid){
						for (let book of this.books) {
							if(book.bookid===bookid){
						
								book.buyNum=(book.buyNum<=1?1:book.buyNum-1)
								break;
							}
						}
					}
				},
				filters:{
						//过滤器
						finalPriceFilter(price){
							return "￥"+price.toFixed(2)
						}
					
				}
				
				
			})
			
			
			
			//高阶函数
			//filter/map/reduce
			//1.filte函数使用：对数组按要求进行过滤，返回新的数组
			//filter中的回调函数有一个要求：必须返回一个Boolean值：
			//true:当返回true时，函数内部会自动将这次回调的n加入到新的数组中
			//false:当返回false时，函数的内部会过滤到这次的n
			const numsOne=[10,25,36,45,200,636,100,44,05,03]
			let newNumsOne=numsOne.filter(function(n){
				return	n<100
			})
			console.log("newNumsOne",newNumsOne);
			
			//2.map函数的使用
			
			
			
			const nums=[10,25,36,45,200,636,100,44,05,03]
			//需求1、取出所有小于100的数
			let newNums1=[];
			for (let num of nums) {
				if(num<100){
					newNums1.push(num)
				}
			}
			console.log(newNums1);
			
			//需求2.取出所有小于100的数乘以2
			let newNums2=[]
			for (let num of newNums1) {
				newNums2.push(num*2)
			}
			console.log(newNums2);
			
			//需求3、将newNums2中所有数值相加，得到最终结果
			let finalNum=0;
			for (let num of newNums2) {
				finalNum+=num
			}
			console.log(finalNum);
		</script>
	</body>
</html>
